<section class="cms-block" data-editable-block data-block-id="testimonial-row-new">
    <h2 data-editable data-edit-type="text">What Our Clients Say</h2>
    <div class="testimonial-table-wrapper">
        <table class="testimonial-table">
            <thead>
                <tr>
                    <th data-editable data-edit-type="text">Client</th>
                    <th data-editable data-edit-type="text">Event</th>
                    <th data-editable data-edit-type="text">Feedback</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td data-editable data-edit-type="text">John & Sarah</td>
                    <td data-editable data-edit-type="text">Wedding</td>
                    <td data-editable data-edit-type="text">
                        Valor Wave made our night unforgettable.
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
